.features {
    padding: 7rem 1.5rem 4rem;
    background-color: $lightGray;
    position: relative;

    @include media-query(tablet) {
        padding: 6rem 2.8rem 4rem;
    }

    .shortened-links {
        &__item {
            padding: 1.5rem;
            background-color: $white;
            margin-bottom: 1.5rem;
            border-radius: .5rem;

            @include media-query(tablet) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: .5rem 1.5rem;
            }
        }

        &__user-input {
            @include heading-text();
            font-weight: 500;
            margin: 0 0 .8rem;

            @include media-query(tablet) {
                flex: 2;
                margin: 0;
            }
        }

        &__divider {
            margin: 0;
            border-top: 1px solid $gray;

            @include media-query(tablet) {
                display: none;
            }
        }

        &__wrapper {
            @include media-query(tablet) {
                display: flex;
                align-items: center;
            }
        }

        &__shortened-url {
            @include heading-text();
            color: $cyan;
            margin: .8rem 0;
        }

        .hidden {
            position: absolute;
            left: -1000px;
        }
    }
}

.card {
    background-color: $white;
    padding: 2.5rem 1.5rem;
    border-radius: .5rem;
    text-align: center;
    position: relative;
    z-index: 1;

    @include media-query(tablet) {
        text-align: left;
    }

    @include media-query(desktop-sm) {
        &:first-child {
            align-self: start;
        }

        &:nth-child(2) {
            align-self: center;
        }

        &:nth-child(3) {
            align-self: end;
        }
    }

    &__icon {
        background-color: $darkViolet;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);

        @include media-query(tablet) {
            left: 0;
            transform: translate(30%, -50%);
        }
    }

    &__title {
        @include heading-text();
    }

    &__desc {
        @include body-text();

        @include media-query(tablet) {
            font-size: .8rem;
        }
    }
}

.line-bg {
    width: 45rem;
    height: .5rem;
    background-color: $cyan;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%) rotate(90deg);
    z-index: 0;

    @include media-query(tablet) {
        width: 30rem;
        transform: translate(-50%, -100%) rotate(0);
    }
}

.loading {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(255, 11%, 22%, 0.50);
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    &::after {
        content: "";
        display: block;
        width: 4rem;
        height: 4rem;
        border: .5rem solid $lightGray;
        border-top-color: $darkViolet;
        border-radius: 50%;
        animation: loading .8s linear infinite;
    }
}